$mainColor: #4A211B;
$lightColor:#FFE5DB;
/*
  Other colors in palette:
    #ffE5DB
    #7E4E46
*/
$footerBackgroundColor:#1b1b1b;

$page-padding:5vw;



html,body{
    margin:0;
    padding:0;
}

footer{
    background-color:$footerBackgroundColor;
}

#menubar{
    ul{
        margin:0;
        padding:0;
        li{
            list-style:none;
        }
    }
}
