@import "style-main";

#homepage-title{
    background: {
        image:url("../images/backgrounds/pexels-fotios-photos-1855214.jpg");
        // This might also be a good background https://images.pexels.com/photos/1656434/pexels-photo-1656434.jpeg?cs=srgb&dl=pexels-nguy-n-khanh-790383-1656434.jpg&fm=jpg&_gl=1*qskte*_ga*MjkxMTA2MDUuMTU4Mzk3ODY2OA..*_ga_8JE65Q40S6*MTcxOTYzNDIzMi4xNC4xLjE3MTk2MzUxNzMuMC4wLjA.
        size:cover;
        position-y:-734px;
    };
    height:90vh;

    #homepage-title-film{
        background-color:RGBA(13,9,8,0.77);
        height:100%;
        padding:0;
    }

    #page-title-container{
        color:$titleColor;
        padding:15vh $page-outer-padding;

        #website-title{
            font:{
                size:7em;
                weight:200;
                family:"Krylon";
            }
            margin:0;
            margin-top:10vh;
        }
    }
}

    #homepage-main-section{
        min-height:110vh;
        background-color:$lightBackgroundColor;
    }